<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>Monos + Billionaires</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div></div>
		<h2 th:if="${list.isEmpty()}">No hay perros por la zona</h2>
		<!--${list.isEmpty()}  -->
		<div th:if="${!list.isEmpty()}">
			<!-- ${!list.isEmpty()} -->
			<h2 >Personas</h2>
			<a style="float: right; margin-left: 25%; margin-right: 5%;"
				href="/save/monigote/0" class="btn btn-primary">Agregar
				personas</a>
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellido</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="persona : ${list}">
							<td th:text="${persona.firstName}">
							<td th:text="${persona.lastName}">
						</tr>
					</tbody>
				</table>
			</div>
			<br></br> <br></br> <br></br>
				<h2 >Rata terra</h2>
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>Nombre perro</th>
							<th>Apellido perro</th>
							<th>Retraso perro</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="persona2 : ${list2}">
							<td th:text="${persona2.nombre}">
							<td th:text="${persona2.apellido}">
							<td th:text="${persona2.retrasoType}">
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>