<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>Personas</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/save/0" class="btn btn-primary">Agregar Personas</a>
			<a style="float: right;" href="/monos" class="btn btn-primary">Agregar Monos</a>
		</div>
		<h2 th:if="${list.isEmpty()}">No hay personas</h2><!--${list.isEmpty()}  -->
		<div th:if="${!list.isEmpty()}"><!-- ${!list.isEmpty()} -->
			<h2>Personas</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Career</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="persona : ${list}">
						<td th:text="${persona.firstName}">
						<td th:text="${persona.lastName}">
						<td th:text="${persona.career}">
						<td><a class="btn btn-info" th:href="@{/save/{id}(id=${persona.id})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${persona.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>