<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>Horas</title>
<script src="../static/js/jquery.js"></script>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-ms-12">
				<h2 style="text-align: center;">Añadir Jornada</h2>
				<form action="#" th:action="@{/horas/save/horas}"
					th:object="${horas}" id="myForm" method="post">
					<input type="hidden" th:field="*{id}" name="id" id="id">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Día</th>
								<th scope="col" th:text="${diaCompleto}"></th>
								<th scope="col">Imputar</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th th:text="${dia}" scope="row"></th>
								<td><input class="form-control"
									th:field="*{horasDia}" id="horasInputadas"
									name="horasInputadas" type="number" required="required"/> <!-- <div th:if="${#fields.hasErrors('*')}">errors</div> -->
								</td>
								<td><button type="submit" class="btn btn-success">Imputar</button></td>
							</tr>
						</tbody>

					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
